@import 'assets/scss/_base.scss';

.products {
  padding: 0 25px 48px;
  text-align: center;
  color: $title-gray;

  &__title {
    text-align: center;
    font-size: 28px;
    font-weight: 500;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }
}

@media screen and (min-width: 768px) {
  .products {
    padding: 0 40px 53px;

    &__cards {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 678px;
      margin: 0 auto;

      &-card {
        width: 324px;

        & img {
          width: 322px;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .products {
    padding: 0 0 84px;

    &__cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      width: 1032px;
      margin: 0 auto;

      &-card {
        width: 350px;

        & img {
          width: 348px;
        }
      }
    }
  }
}
