@import 'assets/scss/_base.scss';

.products {
  padding: 0 25px 48px;
  text-align: center;
  color: $title-gray;

  &__title {
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    padding-bottom: 30px;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;

    &-card {
      width: 324px;
      margin: 0 auto;
      border: 1px solid rgba(0, 0, 0, 0.13);

      & img {
        width: 324px;
      }

      &-info {
        text-align: initial;
        padding: 13px 16px 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        & h3 {
          font-size: 16px;
          font-weight: 700;
          line-height: 23px;
        }

        & p {
          font-size: 13px;
          line-height: 20px;
        }

        & span {
          font-size: 16px;
          font-weight: 700;
          line-height: 23px;
        }

        & button {
          color: $primary-white;
          background-color: $primary-lilac;
          font-size: 16px;
          font-weight: 500;
          border: solid 1px $primary-lilac;
          padding: 9px 16px;
          width: 110px;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .products {
    padding: 0 40px 53px;

    &__cards {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 678px;
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 1200px) {
  .products {
    padding: 0 0 84px;

    &__cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      width: 1032;
      margin: 0 auto;

      &-card {
        width: 350px;

        & img {
          width: 350px;
        }
      }
    }
  }
}
