<section class="products">
  <h2 class="products__title">Produtos que estão bombando!</h2>
  <app-message [text]="errorSearchMessage"></app-message>
  <div class="products__cards">
    <div *ngFor="let product of products">
      <app-product
      [image]="product.image"
      [alt]="product.alt"
      [title]="product.title"
      [description]="product.description"
      [price]="product.price"
      [store]="product.store"
      ></app-product>
    </div>
  </div>
  <app-modal-product #modal></app-modal-product>
</section>
