<section class="products">
  <h2 class="products__title">Produtos que estão bombando!</h2>
  <div class="products__cards">
    <div class="products__cards-card">
      <img src="assets/Mobile/Imagens cards/Card camiseta.png" alt="modelo usando uma camiseta amarela">
      <div class="products__cards-card-info">
        <h3>Camiseta Conforto</h3>
        <p>Multicores e tamanhos. Tecido de algodão 100%, fresquinho para o verão. Modelagem unissex.</p>
        <span>R$ 70,00</span>
        <button>Ver mais</button>
      </div>
    </div>
    <div class="products__cards-card">
      <img src="assets/Mobile/Imagens cards/Card calça.png" alt="modelo usando calça wide leg beje">
      <div class="products__cards-card-info">
        <h3>Calça Alfaiataria</h3>
        <p>Modelo Wide Leg alfaiataria em linho. Uma peça pra vida toda!</p>
        <span>R$ 180,00</span>
        <button>Ver mais</button>
      </div>
    </div>
    <div class="products__cards-card">
      <img src="assets/Mobile/Imagens cards/Card tenis.png" alt="tênis branco pisando em poça d'água">
      <div class="products__cards-card-info">
        <h3>Tênis Chunky</h3>
        <p>Snicker casual com solado mais alto e modelagem robusta. Modelo unissex.</p>
        <span>R$ 250,00</span>
        <button>Ver mais</button>
      </div>
    </div>
    <div class="products__cards-card">
      <img src="assets/Mobile/Imagens cards/Card jaqueta jeans.png" alt="modelo usando uma jaqueta jeans e touca">
      <div class="products__cards-card-info">
        <h3>Jaqueta Jeans</h3>
        <p>Modelo unissex oversized com gola de camurça. Atemporal e autêntica!</p>
        <span>R$ 150,00</span>
        <button>Ver mais</button>
      </div>
    </div>
    <div class="products__cards-card">
      <img src="assets/Mobile/Imagens cards/Cards óculos.png" alt="modelo usando óculos e camiseta branca segurando um cahorro">
      <div class="products__cards-card-info">
        <h3>Óculos Redondo</h3>
        <p>Armação metálica em grafite com lentes arredondadas. Sem erro!</p>
        <span>R$ 120,00</span>
        <button>Ver mais</button>
      </div>
    </div>
    <div class="products__cards-card">
      <img src="assets/Mobile/Imagens cards/Card bolsa.png" alt="modelo segurando uma bolsa marrom">
      <div class="products__cards-card-info">
        <h3>Bolsa coringa</h3>
        <p>Bolsa camel em couro sintético de alta duração. Ideal para acompanhar você por uma vida!</p>
        <span>R$ 120,00</span>
        <button>Ver mais</button>
      </div>
    </div>
  </div>
</section>
