$primary-black: #000000;
$primary-gray: #CCCCCC;
$primary-yellow: #DAFF01;
$primary-lilac: #9353FF;
$primary-white: #FFF;

$secondary-salmon: #EE6471;
$secondary-orange: #F87F46;
$secondary-gray: #65757d;

