@import 'assets/scss/_base.scss';

.footer {
  background-color: $primary-black;
  color: $primary-white;
  padding: 17px 23px;
  text-align: center;

  & p {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
}
