@import 'assets/scss/_base.scss';

.header {
  background-color: $primary-black;
  padding: 22px;
  font-family: 'Inter', sans-serif;

  &__logo {
    width: 125px;
    height: 18px;
  }

  &__nav {
    justify-content: space-between;
    display: flex;
    align-items: center;


    & .menu-hamb {

      position: absolute;
      right: 30px;

      .visuallyHidden {
        position: absolute;
        overflow: hidden;
        clip: rect(0 0 0 0);
        height: 1px;
        width: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
      }

      .hamburger {
        width: 30px;
        height: 30px;

        &:hover {
          opacity: 1;
        }
      }

      .bar {
        padding: 0;
        width: 25px;
        height: 2.4px;
        background-color: $primary-yellow;
        color: $primary-yellow;
        display: block;
        border-radius: 4px;
        transition: all 0.4s ease-in-out;
        position: absolute;
      }

      .bar1 {
        top: 9px;
      }

      .bar2,
      .bar3 {
        top: 15px;
      }

      .bar4 {
        bottom: 6px;
      }

      .checkbox:checked + label > .hamburger > .bar1{
        transform: rotate(45deg);
        transform-origin: 12%;
        width: 24px
      }

      .checkbox:checked + label > .hamburger > .bar2 {
        transform: translateX(-40px);
        background-color: transparent;
      }

      .checkbox:checked + label > .hamburger > .bar3 {
        transform: translateX(40px);
        background-color: transparent;
      }

      .checkbox:checked + label > .hamburger > .bar4 {
        transform-origin: 12%;
        transform: rotate(-45deg);
        width: 24px;
      }
    }

    nav {

      & ul {
        display: none;
        z-index: 10;
        position: absolute;
        padding: 24px;
        top: 62px;
        right: 0;
        background-color: $secondary-gray;
        width: 144px;
        flex-direction: column;
        gap: 8px;

        & li {
          font-weight: 400;
          font-size: 16px;
          line-height: 23px;
          color: $primary-white;
          padding-bottom: 8px;
          border-bottom: 1px solid #CED4DA;

          &:last-of-type {
            border: none;
            padding-bottom: 0;
          }
        }
      }

      .visible {
        display: flex;
      }
    }
  }

  &__search{
    position: absolute;
    left: 0;
    right: 0;
    top: 58px;
    padding: 25px 0;
    gap: 8px;
    display: flex;
    justify-content: center;

    & input {
      width: 225px;
      height: 37px;
      border: 1px solid $primary-black;
      padding-left: 12px;
      font-size: 15px;

      &:focus {
        outline: 0;
      }

      &::placeholder {
        font-weight: 400;
        font-size: 13px;
        color: $placeholder-gray;
      }
    }

    & button {
      border: 1px solid $primary-black;
      width: 88px;
      height: 37px;
      color: $primary-black;
      font-size: 16px;
      font-weight: 500;
      text-align: center;
      background-color: $primary-white;
    }
  }

}

@media screen and (min-width: 768px) {
  .header {
    padding: 10px 23px;
    align-items: center;
    display: flex;
    justify-content: space-between;

    &__nav {
      gap: 20px;

      & .menu-hamb {
        display: none;
      }

      & nav {
        display: block;

        & ul {
          display: flex;
          gap: 20px;
          position: unset;
          flex-direction: row;
          background-color: unset;
          width: unset;
          padding: 0;

          & li {
            border: none;
            padding-bottom: 0;
            color: $primary-white;
            font-size: 13px;
          }
        }
      }
    }

    &__logo {
      width: 99px;
    }

    &__search {
      position: unset;
      padding: 0;

      & input {
        width: 145px;
      }

      & button {
        width: 67px;
        border-color: $primary-white;
        color: $primary-white;
        background-color: $primary-black;
      }
    }

  }
}

@media screen and (min-width: 1200px) {
  .header {
    &__logo {
      width: 132px;
    }

    &__nav {
      gap: 40px;

      & nav {

        & ul {
          gap: 40px;

          & li {
            font-size: 16px;

            &:hover {
              text-decoration: underline;
              transition: 0.4s ease-in-out;
            }
          }
        }
      }
    }

    &__search {


      & input {
        width: 170px;

        &::placeholder {
          font-size: 15px;
        }
      }

      & button {
        width: 80px;

        &:hover {
          cursor: pointer;
          background-color: $secondary-gray;
          transition: 0.3s ease-in-out;
        }
      }
    }
  }
}
