<header class="header">
  <div class="header__nav">
    <img class="header__logo" src="assets/Mobile/Logo mobile.png" alt="logotipo da loja meteora">
    <img class="header__icon-hamb" src="assets/Mobile/hamb.svg" alt="ícone menu hamburguer">
    <nav>
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Nossas lojas</a></li>
        <li><a href="">Noidades</a></li>
        <li><a href="">Promoções</a></li>
      </ul>
    </nav>
  </div>
  <div class="header__search">
    <input type="text" placeholder="Digite o produto">
    <button>Search</button>
  </div>
</header>
