<dialog class="modal1" #modal>
  <h2>Header da Modal</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <form method="dialog">
      <label for="name">Nome:</label>
      <input
        type="text"
        id="name"
        placeholder="Digite seu nome"
        required
      />
      <button type="submit">Enviar</button>
    </form>
    <button type="submit" class="btn close" (click)="modal.close()">X</button>
</dialog>
