.modal1 {
  padding: 24px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50vh;
  bottom: 0;
  background: #fafafa;
  border-radius: 0.5rem;
  padding: 2rem;
  text-align: center;
  width: min(37rem, 80%);
}

.modal1 h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 0 0.75rem;
  color: #0d114f;
}

.modal1 p {
  margin-bottom: 1.5rem;
  color: #4d5e77;
}

.modal1 button {
  cursor: pointer;
}

.modal1::backdrop {
  background: rgba(0, 0, 0, .7);
}


.btn {
  border: none;
  border-radius: 0.5rem;
  font-weight: 500;
  font-size: 1rem;
  background: #3485ff;
  color: #fafafa;
  transition: filter 0.2s;
  padding: 1rem 2rem;
  cursor: pointer;
}

.btn.close {
  display: flex;
  align-items: center;
  clip-path: circle();
  position: absolute;
  top: 2rem;
  right: 2rem;
  height: 1rem;
  aspect-ratio: 1/1;
}

.btn:hover, .btn:focus, button:hover, button:focus {
  filter: brightness(1.2);
}
