<section class="facilities">
  <h2 class="facilities__title">Conheça todas as nossas facilidades</h2>
  <ul class="facilities__list">
    <li class="facilities__list-item">
      <img src="assets/Mobile/Ícones/x-diamond.png" alt="ícone de diamante">
      <div class="facilities__list-item-info">
        <h4>PAGUE PELO PIX</h4>
        <p>Ganhe 5% OFF em
          pagamentos via PIX</p>
      </div>
    </li>
    <li class="facilities__list-item">
      <img src="assets/Mobile/Ícones/arrow-repeat.png" alt="ícone de troca">
      <div class="facilities__list-item-info">
        <h4>TROCA GRÁTIS</h4>
        <p>Fique livre para trocar em até 30 dias.</p>
      </div>
    </li>
    <li class="facilities__list-item">
      <img src="assets/Mobile/Ícones/flower1.png" alt="ícone de flor">
      <div class="facilities__list-item-info">
        <h4>SUSTENTABILIDADE</h4>
        <p>Moda responsável, que respeita o meio ambiente.</p>
      </div>
    </li>
  </ul>
</section>
