<section class="category">
  <h2 class="category__title">Busque por categoria</h2>
  <div class="category__cards">
    <a (click)="showProducts('camisetas')"  (click)="goTo('products')" class="category__cards-card">
      <img src="assets/Mobile/Categorias/Categoria camiseta.png" alt="camiseta">
      <p>Camisetas</p>
    </a>
    <a (click)="showProducts('bolsas')"  (click)="goTo('products')" class="category__cards-card">
      <img src="assets/Mobile/Categorias/Categoria Bolsas.png" alt="bolsa">
      <p>Bolsas</p>
    </a>
    <a (click)="showProducts('calçados')"  (click)="goTo('products')" class="category__cards-card">
      <img src="assets/Mobile/Categorias/Categoria calçados.png" alt="par de sapatos">
      <p>Calçados</p>
    </a>
    <a (click)="showProducts('calças')"  (click)="goTo('products')" class="category__cards-card">
      <img src="assets/Mobile/Categorias/Categoria calças.png" alt="pilha de calças">
      <p>Calças</p>
    </a>
    <a (click)="showProducts('casacos')"  (click)="goTo('products')" class="category__cards-card">
      <img src="assets/Mobile/Categorias/Categoria Casacos.png" alt="Casaco">
      <p>Casacos</p>
    </a>
    <a (click)="showProducts('óculos')"  (click)="goTo('products')" class="category__cards-card">
      <img src="assets/Mobile/Categorias/Categoria óculos.png" alt="óculos">
      <p>Óculos</p>
    </a>
  </div>
</section>
