<section class="banner">
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <picture>
          <source srcset="assets/Desktop/banner.png" media="(min-width: 1200px)">
          <source srcset="assets/Tablet/Bannercarousel1_768.png" media="(min-width: 768px)">
          <img src="assets/Mobile/Banner carousel 1 _ 375.png" alt="Uma modelo encostada numa parede roxa">
        </picture>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <picture>
          <source srcset="assets/Desktop/Bannercarousel2_1440.png" media="(min-width: 1200px)" >
          <source srcset="assets/Tablet/Bannercarousel2_768.png" media="(min-width: 768px)" >
          <img src="assets/Mobile/Banner carousel 2 _ 375.png" alt="Uma modelo sentada num sofá preto">
        </picture>
      </div>
      <div class="carousel-caption">
        <h3>COLEÇÃO ATEMPORAL</h3>
        <p>Estilo e qualidade para durar.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <picture>
          <source srcset="assets/Desktop/Bannercarousel3_1440.png" media="(min-width: 1200px)" >
          <source srcset="assets/Tablet/Bannercarousel3_768.png" media="(min-width: 768px)" >
          <img src="assets/Mobile/Banner carousel 3 _ 375.png" alt="Um modelo em pé em frente a uma parede laranja">
        </picture>
      </div>
      <div class="carousel-caption third-slide">
        <h3>COLEÇÃO ATEMPORAL</h3>
        <p>Alto impacto visual, baixo impacto ambiental.</p>
      </div>
    </ng-template>
  </ngb-carousel>
</section>
