@import 'assets/scss/_base.scss';


.banner {
  padding-top: 82px;

  & img {
    width: 100%;
    height: 415px;
  }

  .carousel-caption {

    & h3 {
      text-align: center;
      font-size: 32px;
      font-weight: 500;
    }

    & p {
      font-size: 16px;
      line-height: 23px;
      text-align: center;
    }
  }
}

@media screen and (min-width: 768px) {
  .banner {
    padding-top: 0;

    .carousel-caption {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      top: 30%;
    }

    .third-slide {
      align-items: flex-start;
    }
  }
}

@media screen and (min-width: 1024px) {
  .banner {

    .carousel-caption {

      right: 10%;

      & h3 {
        font-size: 48px;
      }

      & p {
        font-size: 20px;
      }
    }

    .third-slide {
      left: 10%;
    }
  }
}
