
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  label {
    display: block;
  }

  h1,h2,h3,h4,p {
    margin: 0;
  }

}

body {
  font-family: 'Inter', sans-serif;
}
