<dialog class="products__modal" #modal>
  <div class="products__modal-header">
    <div>
      <img src="assets/check-circle.svg" alt="Ícone de check">
      <h2>Confira detalhes sobre o produto</h2>
    </div>
    <button type="submit" (click)="modal.close()"><img src="assets/⭐️ Icon.svg" alt="Ícone de x"></button>
  </div>
  <div class="products__modal-body">
    <img [src]="image" [alt]="alt">
    <div>
      <div class="products__modal-body-info">
        <h3>{{title}}</h3>
        <p class="info-text">{{description}}</p>
        <span class="info-price">R$ {{price}}</span>
        <p class="info__store-name">Vendido e entregue por {{store}}</p>
      </div>
      <form method="dialog">
        <div class="form__section">
          <p>Cores:</p>
          <div class="form__section-inputs">
            <div>
              <input class="input__azul" name="color" id="azul-claro" type="radio" value="azul-claro" required>
              <label for="azul-claro">Azul claro</label>
            </div>
            <div>
              <input class="input__offwhite" name="color" id="offwhite" type="radio" value="offwhite" required>
              <label for="offwhite">Offwhite</label>
            </div>
            <div>
              <input class="input__preto" name="color" id="preto" type="radio" value="preto" required>
              <label for="preto">Preto</label>
            </div>
          </div>
        </div>
        <div class="form__section">
          <p>Tamanhos:</p>
          <div class="form__section-inputs">
            <div>
              <input name="size" id="tamanho-p" value="tamanho-p" type="radio" required>
              <label for="tamanho-p">P</label>
            </div>
            <div>
              <input name="size" id="tamanho-pp" value="tamanho-pp" type="radio" required>
              <label for="tamanho-pp">PP</label>
            </div>
            <div>
              <input name="size" id="tamanho-m" value="tamanho-m" type="radio" required>
              <label for="tamanho-m">M</label>
            </div>
            <div>
              <input name="size" id="tamanho-g" value="tamanho-g" type="radio" required>
              <label for="tamanho-g">G</label>
            </div>
            <div>
              <input name="size" id="tamanho-gg" value="tamanho-gg" type="radio" required>
              <label for="tamanho-gg">GG</label>
            </div>
          </div>
        </div>
        <button class="btn" type="submit">Adicionar à sacola</button>
      </form>
    </div>
  </div>
</dialog>
